body{
    background-color: bisque;
}
.classI{
    font-family: 'Courier New', Courier, monospace;
    color: green;
}
p{
    font-size: 40px;
    font-weight: bold;
}
.classII{
    background-color: aquamarine;
}
span{
    color: #FFF000;
}
.ciii{
    box-lines: ;
}