p{
    background-color: gold;
}
span{
    border-color: blue;
    border-width: 3px;
    border-style: dashed;
}
div{
    border-color: red;
    border-width: 3px;
    border-style: double;
    margin: 20px;
    padding: 40px;
}
.emptyDiv{
    height: 40px;
    width: 100px;
    display: inline;
}